<div id="homepage">
  <div class="plaintext header">
    <h1 class="percent">5%</h1>
    <p>is Store One daily food market share now.
    Just think about this rate!
    <span>5%</span></p>
  </div> 
  
  
  <div class="plaintext">
    <h3 class="myheader">What this rate means for you?</h3>
    <%=image_tag("happy2", height: '200', class: "img img-left")%>
    <%=image_tag("tired1", height: '200', class: "img img-right")%>
    <p>It means that each evening after hard day at work you go home by bus with one or two Store One clients.
    While you are looking around to see their happy faces you may give thought to one more question.
    Do you know that average family goes to shop each day or once every other day after work and spends there half an hour or an hour of the family free time?
    So, each of us spends about 3 or 4 hours for shopping each week. Just for food! Smart people go to buy food on weekend, but ... buying food for the next week ahead usually means spending the same amount of time. And, you should not forget about the heavy packages you have to carry...</p>
  </div>
  
  
  <div class="plaintext">
    <h2 class="myheader">So, why Store One clients are happy after the hard day at work?</h2>
    
    <h3 class="myheader">It's easy!</h3>
    <%=image_tag("happy1", height: '200', class: "img img-left")%>
    <p>Store One clients can in a quick and easy way make order anywhere 24/7. No more need to go to the shop, to wait in the queue, to carry heavy packages. Just find items you need on Store One website via smartphone, select the amount you need and the delivery time you want. And do not worry about it anymore. Store One assistants will do their best for you!</p>
  </div>
 
  <h3 class="myheader">And.....</h3>
  
  <div class="plaintext">Store One computer programmers and hotline managers work day and night to provide better service for you. Call us 24/7 for any assistance you need!</div>

  <h3>Spend the extra free time with your family, because the family you have is the most precious thing in your life!</h3>
</div>