  
  <div class="plaintext header">
    <h1 class="percent">5%</h1>
    <p>именно такова доля рынка продуктов питания у нашей компании уже через месяц после запуска.
    Вы только вдумайтесь в эту цифру! <span>5%</span></p>
  </div> 
  
  
  <div class="plaintext">
    <h3 class="myheader">Что это значит?</h3>
    <%=image_tag("happy2", height: '200', class: "img img-left")%>
    <%=image_tag("tired1", height: '200', class: "img img-right")%>
    <p>Примерно то, что, когда вы, уставший, едете в маршрутке с работы, вместе с вами едет один или два наших клиента.
    Пока вы смотрите по сторонам в поисках этих счастливых лиц, задумайтесь еще вот над чем:
    Средняя украинская семья раз в один-два дня после работы заходит в продуктовый магазин и тратит там от получаса до часа своего свободного времени. Итого в неделю каждый из нас тратит примерно 3-4 часа на походы по магазинам. И это только продукты! Некоторые поступают "экономнее" - едут за продуктами на выходных. Но вот парадокс - покупая продукты на неделю вперед, они, зачастую, тратят на выбор столько же времени. Да, и не забудьте еще про тяжелые сумки...</p>
  </div>
  
  
  <div class="plaintext">
    <h2 class="myheader">Почему же лица наших клиентов святятся от счастья после тяжелого трудового дня?!</h2>
    
    <h3 class="myheader">Всё просто!</h3>
    <%=image_tag("happy1", height: '200', class: "img img-left")%>
    <p>В любой удобный момент из любого удобного места, наши клиенты имеют возможность легко и быстро сделать заказ необходимых продуктов питания. И для этого не придется стоять в длинных очередях, пробиваться сквозь толпу к прилавкам или тащить большие и тяжелые сумки домой. Достаточно выбрать перечень продуктов на нашем сайте при помощи мобильного телефона, указать необходимое количество и предпочтительное время доставки и можете выбросить этот вопрос из головы. Наши сотрудники сделают все за вас наилучшим образом.</p>
  </div>
 
  <h3 class="myheader">Но и это еще не всё!</h3>
  
  <div class="plaintext">Наши программисты день и ночь трудятся над тем, чтобы удобные покупки становились еще удобнее.
  В следующем обновлении встречайте возможность составить календарь доставки и тогда, вам не придется постоянно составлять длинные списки покупок. Достаточно будет просто ответить на телефонный звонок нашего менеджера и подтвердить доставку в удобное время.</div>

  <h3>Освободившееся время проведите с семьей. Ведь это самое дорогое что есть у каждого!</h3>
