// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
  background: #eef;
}

#homepage {
    background-image: url("background1.png"); 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: 100%;
}

.nav {
  background-color: lightgrey;
}

.placeholder {
  width: 100%;
}

.navbar-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 96%;
  font-size: 130%;
  a {
    text-decoration: none;
  }
}

.head {
  font-size: 20px;
  padding: 20px;
}

.center {
  text-align: center;
}

.main_field {
  margin-left: auto;
  margin-right: auto;
}

.img{
  margin-left: 10px;
  margin-right: 10px;
}
.img-left{
  float: left;
}
.img-right{
  float: right;
}
.plaintext{
  margin-left: auto;
  margin-right: auto;
  max-width: 96%;
  font-size:18px;
  text-align: justify;
}

.percent{
  float: left;
  font-size: 4em;
  margin-top: 0;
  margin-right: 10px;
  color: #f00;
}

.header{
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  text-align: justify;
}

.myheader{
  text-align: center; 
}

.article{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: justify;
}

.ftr {
  display: block;
  float: left;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: right;
  font-size: 12px;
  color: #555;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  a {
    color: #555;
    text-decoration: none;
    &:hover {
      font-weight: bold;
    }
  }
}
