// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_sequence {
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 96%;
  background: #f5f5f5;
  vertical-align: middle;

  ul {
    float: left;
    margin: 1px;
  }

  li{
    font-size: 1.2em;
    display: inline-block;

    a {
      text-decoration: none;
      text-weight: bold;
      padding: 5px 10px 5px 10px;
      display: block-inline;
      
      &:hover {
        background-color: lightgrey;
      }
    }
  }
}

aside.left-side {
  float: left;
  width: 30%;
  min-width: 200px;
  background: #f5f5f5;
  margin-left: 2%;
  font-size: 1.2em;
  
  h3 {
    text-align: center;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
  }

  h4 {
    text-align: left;
    font-weight: bold;
    margin-left: 1em;
  }

  ul {
    width: 100%;
    padding: 0;
    li {
      text-align: left;
      list-style-type: none;

      a {
        font-size: 1.2em;
        text-decoration: none;
        display: block;
        height: 1.5em;
        padding-left: 1em;
        &:hover {
          background-color: lightgrey;
        }
      }
    }
  }

  input[type=checkbox] {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    float: left;
    margin-left: 1em;
  }

  .semi_accepted {
    background-color: green;
    color: red;
  }

  label {
    display: block;
    text-align: left;
    margin-left: 2.2em;
    font-weight: normal;
  }

}



.productList {
  font-size: 20px;
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
  background: #eef;
  width: 64%;
  min-width: 300px;
  vertical-align: baseline;

  th{
    font-size: 120%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    background: #ddd;
  }

  tr:nth-child(odd){ 
    background: #eee;
  }
  tr:nth-child(even){
    background: #f9f9f9;
  }

  td {
    text-align: center;
    vertical-align: middle;
    a {
      display: block;
      text-decoration: none;
      &:hover {
        font-weight: bold;
      }
    }
  }
  form {
    margin-left:auto; 
    margin-right:auto;
    //width: 450px;

    input {
      padding: 5px;
      margin: 5px;
      font-size: 16px;
    }
    input.file {
    }
  }
}

.productEditDeleteLinks {
  padding: 10px;
  a {
    margin: 20px;
  }
}

#paginator {
  margin-right: 2%;
  padding-right: 0;
  .last a{
    margin-right: 0;
  }
}
