<!-- Тут какие-то непонятки. Если нет текста перед таблицей, 
то она не отображается
<h2>Товары</h2>
-->


  <table class="productList">
    <tr >
      <th></th>
      <th>Наименование</th>
      <th>Цена</th>
      <th>Количество</th>
    </tr>

    <% @items.each do |i| %>

      <tr>
        <td><%= link_to image_tag(i.image.url(:thumb)), product_path(i) %></td>
        <td><%= link_to i.name, product_path(i) %></td>
        <td><%= link_to i.price, product_path(i) %></td>
        <td><%= link_to i.count, product_path(i) %></td>
      </tr>
    <% end %>
  </table>
